html{
    background-color: wheat;
}
.container-fluid{
background-color: wheat;
color: black;
}

input[type='text']{
    background: transparent;
    color:black;
}
input[type='text']:focus{
    background: transparent;
    color:black;
}
h2{
    color: black;
}
